/*
HeyPublisher Plugin Stylesheet
*/
#logo {
  float: right;
  padding: 10px;
  background-color: #f9F9F9;
  border: 1px solid silver;
  text-align:center;
  color:gray;
  font-size: 11px;
  margin-left: 20px;
}
#logo IMG {
  padding-bottom:5px;
}
#logo A {
  text-decoration: none;
}
#hey-content H3 {
  border-top: 1px solid silver;
  padding: 10px 0px;
}
.list {
  border-collapse:collapse;
  border: 1px solid silver;
  width: 80%;
}
TABLE.list TH {
  font-size: 13px;
  text-align:center;
  background-color: silver;
  border: 1px solid gray;
  padding: 3px;
}
TABLE.list TD {
  background-color: #EEE;
  border: 1px solid silver;
  padding: 3px;
  text-align:center;
}
UL.heypub-list {
  list-style-type:disc;
  list-style-position: inside;
  margin: 2px 10px;
}
LABEL.heypub {
    float: left;
    font-weight: bold;
    width: 250px;
    text-align: right;
    padding-right: 10px;
}
INPUT[type=text].heypub, INPUT[type=password].heypub {
    width: 350px;
}
SMALL.heypub-input-helper {
    padding-left: 270px;  /* should match the label width + some spacing */
}
/*  Uninstall Styles */
.uninstall {
    font-style: italic;
    font-size: 14px;
}
.ok {
    color: green;
    font-weight: bold;
}
.fail {
    color: red;
    font-weight: bold;
}
#heypub_error {
    margin-top:15px;
    padding:15px;
    background-color:#F5E6E6;
    color:red;
    border: 1px solid red;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 60%;
    text-align:center;
}
#heypub_error P {
    font-size: 16px;
}
#heypub_show_genres_list {
    margin-left: 50px;
    width: 600px;
}
#heypub_show_genres_list H2 {
    font-size: 16px;
}
#heypub_category_list {
    width: 100%;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
/*    border-collapse:collapse;*/
}
#heypub_category_list TH {
    background-color: silver;
    border: 1px solid gray;
    font-weight: bolder;
}
#heypub_category_list TD{
    padding: 4px;
    text-align: right;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    width: 25%;
    white-space:nowrap;
}
#heypub_submissions TD {
    font-size: 13px;
    padding: 5px;
    line-height:13px;
    width:20%;
}
#heypub_submissions TH.checkbox {
    width:50px;
}    
#heypub_submissions TD.heypub_list_title {
    font-weight: bolder;
}
#heypub_submissions TD.heypub_no_subs {
    text-align:center;
    font-size: 18px;
    font-weight: bolder;
    font-style:italic;
    padding: 15px;
}
#heypub_instructions {
    border: 1px solid silver;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 60%;
    margin-left: 50px;
    padding: 10px;
}
#heypub_instructions_list {
    margin: 5px auto;
}    
#heypub_instructions_list TD {
    font-weight: bold;
    white-space: nowrap;
    vertical-align: top;
    padding: 5px;
    font-size: 13px;
}
#heypub_instructions_list TD + TD {
    font-weight: normal;
    white-space: normal;
    font-size: 12px;
}
#heypub_submission_body {
    padding-left: 20px;
    width: 80%;
}
DIV.heypub_author_bio_preview, DIV.heypub_author_bio_show {
    padding: 10px;
    border: 1px solid silver;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
DIV.heypub_author_bio_show {
    width: 80%;
}    

#heypub_submission_iframe {
    width: 98%;
    height: 500px;
    border: 1px solid silver;
    
}
BLOCKQUOTE {
    margin: 10px;
    background-color: #EFEFEF;
    border: 1px solid silver;
    padding: 10px;
}